go 1.25.7

use (
	./stages/01-monolith
	./stages/02-users-extracted/monolith-partial
	./stages/02-users-extracted/users-service
	./stages/03-products-extracted/monolith-partial
	./stages/03-products-extracted/products-service
	./stages/04-orders-inventory/inventory-service
	./stages/04-orders-inventory/orders-service
)
